.button-wrap{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cancel{
    background-color:transparent ;
    color: hsl(224, 23%, 55%);
    font-size: 20px;
    font-weight: 700;
    padding: 20px 50px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

.payment{
 background-color:hsl(245, 75%, 52%) ;
 box-shadow: 0px 10px 30px 0px hsl(225, 96%, 89%);
 color: white;
 font-size: 20px;
 font-weight: 900;
 padding: 20px 50px;
 border: none;
 border-radius: 20px;
 margin-top: 30px;
}

